<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheet.css">
    <title>Document</title>
</head>
<body style="width: 190mm; height: 270mm;">
    <header>

    </header>
    <main id="mainPdf" style="padding-top: 15; padding-left: 30; height: 255mm; margin: 20px;">  
        <div style="display: flex; flex-direction: column; position: relative; left: 300; top: 25; font-family: Verdana; font-size: 25; align-items: center;"><b>P</b><b>E</b><b>D</b><b>I</b><b>G</b><b>R</b><b>E</b><b>E</b></div>
        <div style="display:flex; position: relative; top: -260; left: -30; border: 2px solid black; margin: 15px; padding: 4px; height: 250mm;">
        
        <div>
            <div style="display: flex; flex-wrap: nowrap; flex-direction: row;">
                <div id="contentDescriptStud" style="display: grid; flex-wrap: nowrap; flex-direction: column; width: 40%;">
                    <b class="ejemplarNombre"style="font-family: Arial; font-size: 12; margin-bottom: 10px; justify-self: center" > {{inputs.ejemplarNombre}} </b>
                    
                    <b class="descriptEjemplar" 
                    style="padding-bottom: 10px;
                    border-bottom: 2px solid black;
                    font-size: 10px; font-family: Arial"> {{inputs.descriptEjemplar}}</b>
                   
                </div>
                <div class="borderContentCarreras" style=
                "border-radius: 25px;
                border: 2px solid black;
                width: 60%;;">
                    <div class="detalleCarrerasCorridas" style=
                    "padding: 20px;
                    height: 10px;
                    display: flex;
                    flex-direction: row;
                    font-family: Arial;
                    font-size: 8;
                    justify-content: space-between;
                    position: relative;
                    left: 10px;
                    top:-5px">
                        <div class="cadaDetalleCarreras" style="display: flex; flex-direction: column; width: 12%;">
                            <b> Año </b>
                            <b>  {{inputs.aniosCorrio}}</b>
                        </div>
                        <div class="cadaDetalleCarreras" style="display: flex; flex-direction: column; width: 12%;">
                            <b> Edad</b>
                            <b>{{inputs.inputEdadCorrio}}</b>
                        </div>
                        <div class="cadaDetalleCarreras" style="display: flex; flex-direction: column; width: 15%;">
                            <b>Corrio</b>
                            <b> {{inputs.totalLargadas}} </b>
                        </div>
                        <div class="cadaDetalleCarreras" style="display: flex; flex-direction: column; width: 12%;">
                            <b>1º</b>
                            <b>{{inputs.totalGanadas}}</b>
                        </div>
                        <div class="cadaDetalleCarreras" style="display: flex; flex-direction: column; width: 12%;">
                            <b>2º</b>
                            <b>{{inputs.totalSegundos}}</b>
                        </div>
                        <div class="cadaDetalleCarreras" style="display: flex; flex-direction: column; width: 12%;">
                            <b>3º</b>
                            <b>{{inputs.totalTerceros}}</b>
                        </div>
                        <div class="premioDetalleCarreras" style="display: flex; flex-direction: column; width: 22%;">
                            <b>Premios</b>
                            <b>$ {{inputs.ganancias}}</b>
                        </div>

                    </div>
                </div>
            </div>
            <div class="contenedorCuidadorArbol" style="display: flex; flex-direction: row;justify-content: space-around;">
                <div class="detllesCuidador" 
                style="display: flex;
                flex-direction: column;
                margin-top: 10px;
                width: 60mm; font-size: 10; font-family: Arial; font-style: oblique;">
                    <b> Caballeriza: {{inputs.caballeriza}} </b>
                    <b> Criador: {{inputs.criador}}  </b>
                    <b> Cuidador: {{inputs.cuidador}} </b>
                    <div style="font-size: x-small;">
                    <p>{{inputs.infoPadrillo1}}<b>{{inputs.infoPadrilloNegrita1}}</b>{{inputs.infoPadrillo2}}<b>{{inputs.infoPadrilloNegrita2}}</b> {{inputs.infoPadrillo3}} <b>{{inputs.infoPadrilloNegrita3}}</b>{{inputs.infoPadrillo4}} <b>{{inputs.infoPadrilloNegrita4}}</b>{{inputs.infoPadrillo5}} <b>{{inputs.infoPadrilloNegrita5}}</b></p>
                    </div>
                
                </div>
                
                <div class="arbolGContent" 
                style="display: flex;
                position: relative;
                border-radius: 25px;
                border: 2px solid black;
                margin-top: 10px;
                width: 60%;
                height: 200px; font-size: 10; font-family: Arial">
                    <div class="arbolG" 
                    style="display: flex; 
                    flex-direction: row; 
                    height: 200px;
                    justify-content: space-between;
                    width: 95mm;
                    margin-left: 10px;">
                        <div class="mapa">                        
                            <div class="divArbolGAbu"
                            style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolGAbu"
                            style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolGAbu"
                            style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolG" 
                            style="height: 20px;
                            padding: 2px;
                            font-size: 10;
                            display: flex;
                            justify-content: center;
                            align-items: center;"> <b>{{inputs.padre}}</b></div>
                            <div class="divArbolGAbu"
                            style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolGAbu"
                            style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolGAbu"
                            style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolGAbu"
                            style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolGAbu"
                            style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolGAbu"
                            style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolG"
                            style="height: 20px;
                            padding: 2px;
                            font-size: 10;
                            display: flex;
                            justify-content: center;
                            align-items: center;"> <b>{{inputs.madre}}</b></div>
                            <div class="divArbolGAbu"
                            style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolGAbu"
                            style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolGAbu"
                            style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>

                        </div>
                        <div class="abue">
                            <div class="divArbolGAbu"
                            style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolG"
                            style="height: 20px;
                            padding: 2px;
                            font-size: 10;
                            display: flex;
                            justify-content: center;
                            align-items: center;"> <b>{{inputs.abueloP}}</b></div>
                            <div class="divArbolGAbu"
                            style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolGAbu"
                            style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolG"
                            style="height: 20px;
                            padding: 2px;
                            font-size: 10;
                            display: flex;
                            justify-content: center;
                            align-items: center;"> <b>{{inputs.abuelaP}}</b></div>
                            <div class="divArbolGAbu"
                            style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolGAbu"
                            style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolG"
                            style="height: 20px;
                            padding: 2px;
                            font-size: 10;
                            display: flex;
                            justify-content: center;
                            align-items: center;"> <b>{{inputs.abueloM}}</b></div>
                            <div class="divArbolGAbu"
                            style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolGAbu"
                            style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolG"
                            style="height: 20px;
                            padding: 2px;
                            font-size: 10;
                            display: flex;
                            justify-content: center;
                            align-items: center;"> <b>{{inputs.abuelaM}}</b></div>
                            <div class="divArbolGAbu"
                            style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                        </div>
                        <div class="bisa">
                            <div class="divArbolG"
                            style="height: 20px;
                            padding: 2px;
                            font-size: 10;
                            display: flex;
                            justify-content: center;
                            align-items: center;"><b>{{inputs.pAbueloP}}</b></div>
                            <div class="divArbolG"
                            style="height: 20px;
                            padding: 2px;
                            font-size: 10;
                            display: flex;
                            justify-content: center;
                            align-items: center;"><b>{{inputs.mAbueloP}}</b></div>
                            <div class="divArbolG"
                            style="height: 20px;
                            padding: 2px;
                            font-size: 10;
                            display: flex;
                            justify-content: center;
                            align-items: center;"><b>{{inputs.pAbuelaP}}</b></div>
                            <div class="divArbolG"
                            style="height: 20px;
                            padding: 2px;
                            font-size: 10;
                            display: flex;
                            justify-content: center;
                            align-items: center;"><b>{{inputs.mAbuelaP}}</b></div>
                            <div class="divArbolG"
                            style="height: 20px;
                            padding: 2px;
                            font-size: 10;
                            display: flex;
                            justify-content: center;
                            align-items: center;"> <b>{{inputs.pAbueloM}}</b></div>
                            <div class="divArbolG"
                            style="height: 20px;
                            padding: 2px;
                            font-size: 10;
                            display: flex;
                            justify-content: center;
                            align-items: center;"><b>{{inputs.mAbueloM}}</b></div>
                            <div class="divArbolG"
                            style="height: 20px;
                            padding: 2px;
                            font-size: 10;
                            display: flex;
                            justify-content: center;
                            align-items: center;"><b>{{inputs.pAbuelaM}}</b></div>
                            <div class="divArbolG"
                            style="height: 20px;
                            padding: 2px;
                            font-size: 10;
                            display: flex;
                            justify-content: center;
                            align-items: center;"><b>{{inputs.mAbuelaM}}</b></div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="font-size: 8; font-family: Arial; column-count: 2; margin-top: 5px;">
                <div style="display: flex; flex-wrap: nowrap; width: 40%; flex-direction: column;">
                    <div> 
                        <p><b style="border-bottom: 1px solid black ;">1a. madre: </b></p>
                        <p> Madre de </p>
                        
                        
                    <!-- </div>
                    <div> -->
                      <p><b style="border-bottom: 1px solid black ;">2a. madre: </b></p>
                        <p> Madre de </p>
                       
                        
                    <!-- </div>

                </div> -->
                <!-- <div style="display: flex; flex-wrap: nowrap;font-size: x-small; width: 40%; flex-direction: column;">
                    <div> -->
                        <p><b style="border-bottom: 1px solid black ;">3a. madre: </b></p>
                        <p> Madre de </p>
                    
                    
                    <!-- </div>
                    <div> -->
                        <p><b style="border-bottom: 1px solid black ;">4a. madre: </b></p>
                        <p> Madre de </p>
                    
                    
                    <!-- </div>
                    <div> -->
                        <p><b style="border-bottom: 1px solid black ;">5a. madre: </b> </p>
                        <p> Madre de </p>
                         
                        
                    <!-- </div>
                    <div> -->
                        <p><b style="border-bottom: 1px solid black ;">6a. madre:</b></p>
                        <p> Madre de </p>
                    
                        
                    <!-- </div>
                </div> -->

            </div>    
        </div>
        </div>
    </main>
<script src="/javascript/ejemplares.js"></script>
</body>
</html>