<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheet.css">
    <title>Document</title>
</head>
<body style="width: 190mm; height: 270mm;">
    <header>

    </header>
    <main id="mainPdf" style="padding-top: 15; padding-left: 30; height: 255mm; border: 2px solid black; margin: 20px;">
        <div style="display: flex; flex-wrap: nowrap; flex-direction: row;">
            <div id="contentDescriptStud" style="display: flex; flex-wrap: nowrap; flex-direction: column; width: 40%;">
                <b class="ejemplarNombre"style="font-family: Arial; font-size: 24; margin-bottom: 10px;" > {{ejemplarX.nombre}} </b>
                  
                <b class="descriptEjemplar" 
                style="padding-bottom: 10px;
                border-bottom: 2px solid black;
                font-size: 10px;"> {{ejemplarX.sexo}}, {{ejemplarX.pelo}}, nacido el {{ejemplarX.dia_nac}} de {{ejemplarX.mes_nac}} de {{ejemplarX.anio_nac}} - {{ejemplarX.familia}}</b>
            </div>
            <div class="borderContentCarreras" style=
            "border-radius: 25px;
            border: 2px solid black;
            width: 40%;;">
                <div class="detalleCarrerasCorridas" style=
                "padding: 20px;
                height: 10px;
                display: flex;
                flex-direction: row;
                font-family: Arial;
                font-size: x-small;
                justify-content: space-between;
                position: relative;
                left: 10px;
                top:-5px">
                    <div class="cadaDetalleCarreras" style="display: flex; flex-direction: column; width: 12%;">
                        <b> Año </b>
                        <b>  {{ anio0}}-{{ultimoAnio}}</b>
                    </div>
                    <div class="cadaDetalleCarreras" style="display: flex; flex-direction: column; width: 12%;">
                        <b> Edad</b>
                        <b>{{edad0}}-{{ultimoEdad}}</b>
                    </div>
                    <div class="cadaDetalleCarreras" style="display: flex; flex-direction: column; width: 12%;">
                        <b>Corrio</b>
                        <b> {{totalLargadas}} </b>
                    </div>
                    <div class="cadaDetalleCarreras" style="display: flex; flex-direction: column; width: 12%;">
                        <b>1º</b>
                        <b>{{totalGanadas}}</b>
                    </div>
                    <div class="cadaDetalleCarreras" style="display: flex; flex-direction: column; width: 12%;">
                        <b>2º</b>
                        <b>{{totalSegundos}}</b>
                    </div>
                    <div class="cadaDetalleCarreras" style="display: flex; flex-direction: column; width: 12%;">
                        <b>3º</b>
                        <b>{{totalTerceros}}</b>
                    </div>
                    <div class="premioDetalleCarreras" style="display: flex; flex-direction: column; width: 25%;">
                        <b>Premios</b>
                        <b>$ {{totalPremios}}</b>
                    </div>

                </div>
            </div>
        </div>
        <div class="contenedorCuidadorArbol" style="display: flex; flex-direction: row;justify-content: space-around;">
            <div class="detllesCuidador" 
            style="display: flex;
            flex-direction: column;
            margin-top: 10px;
            width: 60mm;">
                <b> Caballeriza: {{criadorX.haras}} </b>
                <b> Criador: {{criadorX.propietario}} </b>
                <b> Cuidador: </b>
                <div >
                    <div style="display: flex; flex-direction: row; font-size: x-small;"><p>Por <b>{{padre.nombre}}</b>({{padre.anio_nac}})({{padre.padre}})</p></div>
                    <input type="text" style="width: auto; height: 100px;"> 
                </div>
            </div>
            <div class="arbolGContent" 
            style="display: flex;
            position: relative;
            border-radius: 25px;
            border: 2px solid black;
            margin-top: 10px;
            width: 100mm;
            height: 205px;">
                <div class="arbolG" 
                style="display: flex; 
                flex-direction: row; 
                height: 200px;
                justify-content: space-between;
                width: 95mm;
                margin-left: 10px;">
                    <div class="mapa">                        
                        <div class="divArbolGAbu"
                        style="height: 10px;
                        padding: 2px;
                        font-size: 12;"></div>
                        <div class="divArbolGAbu"
                        style="height: 10px;
                        padding: 2px;
                        font-size: 12;"></div>
                        <div class="divArbolGAbu"
                        style="height: 10px;
                        padding: 2px;
                        font-size: 12;"></div>
                        <div class="divArbolG" 
                        style="height: 20px;
                        padding: 2px;
                        font-size: 10;
                        display: flex;
                        justify-content: center;
                        align-items: center;"> <b>{{madre.nombre}}</b></div>
                        <div class="divArbolGAbu"
                        style="height: 10px;
                        padding: 2px;
                        font-size: 12;"></div>
                        <div class="divArbolGAbu"
                        style="height: 10px;
                        padding: 2px;
                        font-size: 12;"></div>
                        <div class="divArbolGAbu"
                        style="height: 10px;
                        padding: 2px;
                        font-size: 12;"></div>
                        <div class="divArbolGAbu"
                        style="height: 10px;
                        padding: 2px;
                        font-size: 12;"></div>
                        <div class="divArbolGAbu"
                        style="height: 10px;
                        padding: 2px;
                        font-size: 12;"></div>
                        <div class="divArbolGAbu"
                        style="height: 10px;
                        padding: 2px;
                        font-size: 12;"></div>
                        <div class="divArbolG"
                        style="height: 20px;
                        padding: 2px;
                        font-size: 10;
                        display: flex;
                        justify-content: center;
                        align-items: center;"> <b>{{padre.nombre}}</b></div>
                        <div class="divArbolGAbu"
                        style="height: 10px;
                        padding: 2px;
                        font-size: 12;"></div>
                        <div class="divArbolGAbu"
                        style="height: 10px;
                        padding: 2px;
                        font-size: 12;"></div>
                        <div class="divArbolGAbu"
                        style="height: 10px;
                        padding: 2px;
                        font-size: 12;"></div>

                    </div>
                    <div class="abue">
                        <div class="divArbolGAbu"
                        style="height: 10px;
                        padding: 2px;
                        font-size: 12;"></div>
                        <div class="divArbolG"
                        style="height: 20px;
                        padding: 2px;
                        font-size: 10;
                        display: flex;
                        justify-content: center;
                        align-items: center;"> <b>{{abuelaM.nombre}}</b></div>
                        <div class="divArbolGAbu"
                        style="height: 10px;
                        padding: 2px;
                        font-size: 12;"></div>
                        <div class="divArbolGAbu"
                        style="height: 10px;
                        padding: 2px;
                        font-size: 12;"></div>
                        <div class="divArbolG"
                        style="height: 20px;
                        padding: 2px;
                        font-size: 10;
                        display: flex;
                        justify-content: center;
                        align-items: center;"> <b>{{abueloM.nombre}}</b></div>
                        <div class="divArbolGAbu"
                        style="height: 10px;
                        padding: 2px;
                        font-size: 12;"></div>
                        <div class="divArbolGAbu"
                        style="height: 10px;
                        padding: 2px;
                        font-size: 12;"></div>
                        <div class="divArbolG"
                        style="height: 20px;
                        padding: 2px;
                        font-size: 10;
                        display: flex;
                        justify-content: center;
                        align-items: center;"> <b>{{abuelaP.nombre}}</b></div>
                        <div class="divArbolGAbu"
                        style="height: 10px;
                        padding: 2px;
                        font-size: 12;"></div>
                        <div class="divArbolGAbu"
                        style="height: 10px;
                        padding: 2px;
                        font-size: 12;"></div>
                        <div class="divArbolG"
                        style="height: 20px;
                        padding: 2px;
                        font-size: 10;
                        display: flex;
                        justify-content: center;
                        align-items: center;"> <b>{{abueloP.nombre}}</b></div>
                        <div class="divArbolGAbu"
                        style="height: 10px;
                        padding: 2px;
                        font-size: 12;"></div>
                    </div>
                    <div class="bisa">
                        <div class="divArbolG"
                        style="height: 20px;
                        padding: 2px;
                        font-size: 10;
                        display: flex;
                        justify-content: center;
                        align-items: center;"><b>{{mAbuelaM.nombre}}</b></div>
                        <div class="divArbolG"
                        style="height: 20px;
                        padding: 2px;
                        font-size: 10;
                        display: flex;
                        justify-content: center;
                        align-items: center;"><b>{{pAbuelaM.nombre}}</b></div>
                        <div class="divArbolG"
                        style="height: 20px;
                        padding: 2px;
                        font-size: 10;
                        display: flex;
                        justify-content: center;
                        align-items: center;"><b>{{mAbueloM.nombre}}</b></div>
                        <div class="divArbolG"
                        style="height: 20px;
                        padding: 2px;
                        font-size: 10;
                        display: flex;
                        justify-content: center;
                        align-items: center;"><b>{{pAbueloM.nombre}}</b></div>
                        <div class="divArbolG"
                        style="height: 20px;
                        padding: 2px;
                        font-size: 10;
                        display: flex;
                        justify-content: center;
                        align-items: center;"> <b>{{mAbuelaP.nombre}}</b></div>
                        <div class="divArbolG"
                        style="height: 20px;
                        padding: 2px;
                        font-size: 10;
                        display: flex;
                        justify-content: center;
                        align-items: center;"><b>{{pAbuelaP.nombre}}</b></div>
                        <div class="divArbolG"
                        style="height: 20px;
                        padding: 2px;
                        font-size: 10;
                        display: flex;
                        justify-content: center;
                        align-items: center;"><b>{{mAbueloP.nombre}}</b></div>
                        <div class="divArbolG"
                        style="height: 20px;
                        padding: 2px;
                        font-size: 10;
                        display: flex;
                        justify-content: center;
                        align-items: center;"><b>{{pAbueloP.nombre}}</b></div>
                    </div>
                </div>
            </div>
        </div>

        <div style="display: flex; flex-wrap: nowrap;font-size: x-small; flex-direction: row;">
            <div style="display: flex; flex-wrap: nowrap;font-size: x-small; width: 40%; flex-direction: column;">
                <div>
                   <p>Por <b>WINNING PRIZE</b> (2009) (Pure Prize), <b>“Mejor 2 años macho”</b>, <b>“Mejor Millero”</b>, gdor. de 5 cs. en San Isidro, incl. GP Joaquín S. de Anchorena (G1), GP Gran Criterium (G1), GP Raúl y Raúl E. Chevalier (G1), Candy Ride (NG), 2º GP Dos Mil Guineas (G1). En USA gdor. de 3 cs. en Del Mar y Santa Anita, incl.. Frank E. Kilroe Mile Stakes (G1), Arcadia Stakes (G2), 2º Thunder Road S. (L), Wickerr S., 3º Citation H. (G2), 4º Shoemaker Mile S. (G1), Shadwell Turf Mile S. (G1), American S. (G3), 5º Frank E. Kilroe Mile Stakes (G1). Padre de 116 hijos en edad de correr, corrieron 48, 25 gdres, gdres clás. 1:<b> SOLO CANDOMBE</b> (L).</p>
                </div>
                <div>
                    <p><b style="border-bottom: 1px solid black ;">1a. madre:</b>{{madre.nombre}} ({{madre.anio_nac}}) ({{madre.padre}}) ***** </p>
                    <p> Madre de </p>
                    {{# each hijos1Madre }}
                        <p>{{anio_nac}} - {{nombre}}</p>
                    {{/ each}}       
                </div>
                <div>
                    <p><b style="border-bottom: 1px solid black ;">2a. madre:</b>{{abuelaM.nombre}} ({{abuelaM.anio_nac}}) ({{abuelaM.padre}}) ***** </p>
                    <p> Madre de </p>
                    {{# each hijos2Madre }}
                        <p>{{anio_nac}} - {{nombre}} </p>
                    {{/ each}}       
                </div>

            </div>
            <div style="display: flex; flex-wrap: nowrap;font-size: x-small; width: 40%; flex-direction: column;">
                <div>
                    <p><b style="border-bottom: 1px solid black ;">3a. madre:</b>{{abuelaM.nombre}} ({{mAbuelaM.anio_nac}}) ({{mAbuelaM.padre}}) ***** </p>
                    <p> Madre de </p>
                    {{# each hijos3Madre }}
                        <p>{{anio_nac}} - {{nombre}}</p>
                    {{/ each}}       
                </div>
                <div>
                    <p><b style="border-bottom: 1px solid black ;">4a. madre:</b>{{madre4.nombre}} ({{madre4.anio_nac}}) ({{madre4.padre}}) ***** </p>
                    <p> Madre de </p>
                    {{# each hijos4Madre }}
                        <p>{{anio_nac}} - {{nombre}}</p>
                    {{/ each}}       
                </div>
                <div>
                    <p><b style="border-bottom: 1px solid black ;">5a. madre:</b>{{madre5.nombre}} ({{madre5.anio_nac}}) ({{madre5.padre}}) ***** </p>
                    <p> Madre de </p>
                    {{# each hijos5Madre }}
                        <p>{{anio_nac}} - {{nombre}}</p>
                    {{/ each}}       
                </div>
                <div>
                    <p><b style="border-bottom: 1px solid black ;">6a. madre:</b>{{madre6.nombre}} ({{madre6.anio_nac}}) ({{madre6.padre}}) ***** </p>
                    <p> Madre de </p>
                    {{# each hijos6Madre }}
                        <p>{{anio_nac}} - {{nombre}} </p>
                    {{/ each}}       
                </div>
            </div>
        </div>
        
    </main>
<script src="/javascript/ejemplares.js"></script>
</body>
</html>