<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheet.css">
    <title>Document</title>
</head>
<body>
    <header>

    </header>
    <main id="mainPdf">
        <div style="display: flex; flex-wrap: nowrap; flex-direction: row;">
            <div id="contentDescriptStud" style="display: flex; flex-wrap: nowrap; flex-direction: column; width: 40%;">
                <b id="ejemplarNombre"> {{ejemplarX.nombre}} </b>
                
                <b id="descriptEjemplar"> {{ejemplarX.sexo}}, {{ejemplarX.pelo}}, nacido el {{ejemplarX.dia_nac}} de {{ejemplarX.mes_nac}} de {{ejemplarX.anio_nac}} - {{ejemplarX.familia}}</b>
            </div>
            <div>

            </div>
        </div>
    </main>


</body>
</html>