<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
        <link rel="stylesheet" href="css/stylesheet.css">
        <title>Pedigree PDF</title>
    </head>
    <body>
        <header>
            <input type="text" value='<%=id%>' id="id" style="display: none;" >
    
        </header>
        
        <main class="mainPdf">
        <div style="display: flex; flex-direction: column; position: relative; left: 620; z-index: -1; width: 40px; top: -20;"><img src="/img/pedigree.png" alt=""></div>
       <!-- <div style="display: flex; flex-direction: column; position: relative; left: 640;"><b>P</b><b>E</b><b>D</b><b>I</b><b>G</b><b>R</b><b>E</b><b>E</b></div>  -->
        <div style="display:flex; position: relative; top: -320; border: 2px solid black; margin: 5px; padding: 15px; height: 250mm; left: -15px;">
        <form id="form" action="" method="POST" >
            <div style="display: flex; flex-wrap: nowrap; flex-direction: row;">
                <div class="contentDescriptStud" style="display: flex; flex-wrap: nowrap; flex-direction: column; width: 40%;">
                    <b class="ejemplarNombre" id="nombreDelEjemplar" style='font-size: 12; font-family: Arial'>  </b><input id="inputNombreDelEjemplar"  type="text" style="display: none;" name="ejemplarNombre">
                    <b class="descriptEjemplar" id="descriptDelEjemplar" style='font-size: 10; font-family: Arial'></b> <input type="text" id="inputDescriptDelEjemplar" style="display:none" name="descriptEjemplar" >
                </div>
            </div>
            <button id="pdf1" type="submit"> Crear pdf frente</button>
            <button id="pdf2" type="submit"> Crear pdf reverso</button>
            
        </form>
     
        
    </div>
        </main>
    
        <script src="/javascript/ejemplares.js"></script>
    </body>
</html>