<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
        <link rel="stylesheet" href="css/stylesheet.css">
        <title>Pedigree PDF</title>
    </head>
    <body>
        <header>
    
        </header>
        <input type="text" value='<%=id%>' id="id" style="display: none;" >

        <main class="mainPdf" style="    padding: 15;
        
        height: 255mm;
        border: 2px solid black;
        margin: 20px;
       ">
        <div style="display: flex; flex-direction: column; position: relative; left: 620; z-index: -1; width: 40px; top: -20;"><img src="/img/pedigree.png" alt=""></div>
       <!-- <div style="display: flex; flex-direction: column; position: relative; left: 640;"><b>P</b><b>E</b><b>D</b><b>I</b><b>G</b><b>R</b><b>E</b><b>E</b></div>  -->
        <div style="display:flex; position: relative; top: -320; border: 2px solid black; margin: 5px; padding: 15px; height: 250mm; left: -15px;">
        <form id="form" action="" method="POST" >
            <div style="display: flex; flex-wrap: nowrap; flex-direction: row;">
                <div class="contentDescriptStud" style="display: flex; flex-wrap: nowrap; flex-direction: column; width: 40%;">
                    <b class="ejemplarNombre" id="nombreDelEjemplar" style='font-family: Arial; font-size: 24; margin-bottom: 10px;'>  </b><input id="inputNombreDelEjemplar"  type="text" style="display: none;" name="ejemplarNombre">
                    <b class="descriptEjemplar" id="descriptDelEjemplar" style='  padding-bottom: 10px;
                    border-bottom: 2px solid black;
                    font-size: 10px;'></b> <input type="text" id="inputDescriptDelEjemplar" style="display:none" name="descriptEjemplar" >
                </div>
            
                <div class="borderContentCarreras" style="  border-radius: 25px; border: 2px solid black; width: 60%;">
                
                    <div class="detalleCarrerasCorridas" style=' padding: 20px;
                    height: 10px;
                    display: flex;
                    flex-direction: row;
                    font-family: Arial;
                    font-size: x-small;
                    justify-content: space-between;
                    position: relative;
                    left: 10px;
                    top:-5px'>
                        <div class="cadaDetalleCarreras" style="display: flex; flex-direction: column; width: 12%;">
                            <b> Año </b>
                            <b id="aniosCorrio"> </b>
                            <input type="text" style="display: none;" name="aniosCorrio" id="inputAniosCorrio">
                        </div>
                        <div class="cadaDetalleCarreras" style="display: flex; flex-direction: column; width: 12%;">
                            <b> Edad</b>
                            <b id="edadCorrio"></b>
                            <input type="text" style="display: none;" name="inputEdadCorrio" >
                        </div>
                        <div class="cadaDetalleCarreras" style="display: flex; flex-direction: column; width: 12%;">
                            <b>Corrio</b>
                            <b id="totalLargadas"></b><input id="inputTotalLargadas" type="text" style="display: none;" name="totalLargadas" >
                        </div>
                        <div class="cadaDetalleCarreras" style="display: flex; flex-direction: column; width: 12%;">
                            <b>1º</b>
                            <b id="totalGanadas"></b><input type="text" style="display: none;" name="totalGanadas" id='inputTotalGanadas'>
                        </div>
                        <div class="cadaDetalleCarreras" style="display: flex; flex-direction: column; width: 12%;">
                            <b>2º</b>
                            <b id="totalSegundos"></b><input type="text" style="display: none;" name="totalSegundos" id="inputTotalSegundos">
                        </div>
                        <div class="cadaDetalleCarreras" style="display: flex; flex-direction: column; width: 12%;">
                            <b>3º</b>
                            <b id="totalTerceros"></b><input type="text" style="display: none;" name="totalTerceros" id="inputTotalTerceros">
                        </div>
                        <div class="premioDetalleCarreras" style="display: flex; flex-direction: column; width: 25%;">
                            <b>Premios</b>
                            <b id="totalGanancias"></b><input type="text" style="display: none;" name="ganancias" id="inputTotalGanancias">
                        </div>

                    </div>
                
                </div>
            </div>
            <div class="contenedorCuidadorArbol" style=" display: flex; 
            flex-direction: row;
            justify-content: space-around;">
                <div class="detllesCuidador" style='font-size: 10; font-family: Arial; font-style: oblique;'>
                    <b id="caballeriza"> Caballeriza:  </b> <input type="text" style="display: none;" name="caballeriza" id="inputCaballeriza" >
                    <b id="criador"> Criador:  </b> <input type="text" style="display: none;" name='criador' id="inputCriador" >
                    <b id="cuidador"> Cuidador: </b> <input type="text" style="display: none;" name="cuidador" id="inputCuidador" >    
                    <div style="font-size: x-small;">
                        <b id="padreEjemplar"></b>
                        <input type="text" name="infoPadrillo1"><input type="text" name="infoPadrilloNegrita1" placeholder="negrita"><input type="text" name="infoPadrillo2"><input type="text" name="infoPadrilloNegrita2" placeholder="negrita"><input type="text" name="infoPadrillo3"><input type="text" name="infoPadrilloNegrita3" placeholder="negrita"><input type="text" name="infoPadrillo4"><input type="text" name="infoPadrilloNegrita4" placeholder="negrita"><input type="text" name="infoPadrillo5"><input type="text" name="infoPadrilloNegrita5" placeholder="negrita">        
                    </div>
                </div>
                <div class="arbolGContent" style=" display: flex;
                position: relative;
                border-radius: 25px;
                border: 2px solid black;
                margin-top: 10px;
                width: 100mm;
                height: 205px;">
                    <div class="arbolG" style='display: flex; 
                    flex-direction: row; 
                    height: 200px;
                    justify-content: space-between;
                    width: 95mm;
                    margin-left: 10px; '>
                        <div class="mapa">                        
                            <div class="divArbolGAbu" style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolGAbu" style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolGAbu" style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolG" style="height: 20px;
                            padding: 2px;
                            font-size: 10;
                            display: flex;
                            justify-content: center;
                            align-items: center;"> <b id="padreEnArbol"></b></div><input type="text" style="display: none;" name="padre" id="inputPadreEnArbol">
                            <div class="divArbolGAbu" style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolGAbu"style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolGAbu"style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolGAbu"style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolGAbu"style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolGAbu"style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <input type="text" style="display: none;" id="idMadre">
                            <div class="divArbolG" style='height: 20px;
                            padding: 2px;
                            font-size: 10;
                            display: flex;
                            justify-content: center;
                            align-items: center;'><b id="madreEnArbol"></b></div><input type="text" style="display: none;" name="madre" id="inputMadreEnArbol">
                            <div class="divArbolGAbu"style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolGAbu"style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolGAbu"style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                        </div>
                        <div class="abue">
                            <div class="divArbolGAbu"style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolG"style="height: 20px;
                            padding: 2px;
                            font-size: 10;
                            display: flex;
                            justify-content: center;
                            align-items: center;">
                                <input type="text" name="abueloP" id="inputAbueloP">
                            </div>
                            <div class="divArbolGAbu"style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolGAbu"style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                             <div class="divArbolG"style="height: 20px;
                             padding: 2px;
                             font-size: 10;
                             display: flex;
                             justify-content: center;
                             align-items: center;">
                                <input type="text" name="abuelaP" id="inputAbuelaP">
                            </div>
                            <div class="divArbolGAbu"style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolGAbu"style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolG"style="height: 20px;
                            padding: 2px;
                            font-size: 10;
                            display: flex;
                            justify-content: center;
                            align-items: center;">
                                <input type="text" name="abueloM" id="inputAbueloM">
                            </div>
                            <div class="divArbolGAbu"style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolGAbu"style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                            <div class="divArbolG"style="height: 20px;
                            padding: 2px;
                            font-size: 10;
                            display: flex;
                            justify-content: center;
                            align-items: center;">
                                <input type="text" name="abuelaM" id="inputAbuelaM">
                            </div>
                            <div class="divArbolGAbu"style="height: 10px;
                            padding: 2px;
                            font-size: 12;"></div>
                        </div>
                        <div class="bisa">
                            <div class="divArbolG" style="height: 20px;
                            padding: 2px;
                            font-size: 10;
                            display: flex;
                            justify-content: center;
                            align-items: center;">
                                <input type="text" name="pAbueloP" id="inputPAbueloP">
                            </div>
                            <div class="divArbolG"style="height: 20px;
                            padding: 2px;
                            font-size: 10;
                            display: flex;
                            justify-content: center;
                            align-items: center;">
                                <input type="text" name="mAbueloP" id="inputMAbueloP" >
                            </div>
                            <div class="divArbolG"style="height: 20px;
                            padding: 2px;
                            font-size: 10;
                            display: flex;
                            justify-content: center;
                            align-items: center;">
                                <input type="text" name="pAbuelaP" id="inputPabuelaP">
                            </div> 
                            <div class="divArbolG"style="height: 20px;
                            padding: 2px;
                            font-size: 10;
                            display: flex;
                            justify-content: center;
                            align-items: center;">
                                <input type="text" name="mAbuelaP" id="inputMAbuelaP">
                            </div> 
                            <div class="divArbolG"style="height: 20px;
                            padding: 2px;
                            font-size: 10;
                            display: flex;
                            justify-content: center;
                            align-items: center;">
                                <input type="text" name="pAbueloM" id="inputPAbueloM">
                            </div> 
                            <div class="divArbolG"style="height: 20px;
                            padding: 2px;
                            font-size: 10;
                            display: flex;
                            justify-content: center;
                            align-items: center;">
                                <input type="text" name="mAbueloM" id="inputMAbueloM">
                            </div>
                            <div class="divArbolG"style="height: 20px;
                            padding: 2px;
                            font-size: 10;
                            display: flex;
                            justify-content: center;
                            align-items: center;">
                                <input type="text" name="pAbuelaM" id="inputPAbuelaM">
                            </div>
                            <div class="divArbolG"style="height: 20px;
                            padding: 2px;
                            font-size: 10;
                            display: flex;
                            justify-content: center;
                            align-items: center;">
                                <input type="text" name="mAbuelaM" id="inputMAbuelaM">
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
            <button id="pdf1" type="submit"> Crear pdf frente</button>
            <button id="pdf2" type="submit"> Crear pdf reverso</button>
            
        </form>
     
        
    </div>
        </main>
    
        <script src="/javascript/ejemplares.js"></script>
        <script src="/javascript/arbol.js"></script>
    </body>
</html>