body{
    width: 190mm;
    height: 270mm;
}
/*PASADO*/
.mainPdf{   
    padding: 15;
    /* padding-left: 30; */
    height: 255mm;
    border: 2px solid black;
    margin: 20px;
   

    
}
/*PASADO*/
.ejemplarNombre{
    font-family: Arial;
    font-size: 24;
    margin-bottom: 10px;
    
}
/*PASADO*/
.descriptEjemplar{
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    font-size: 10px;
}
/*PASADO*/
.borderContentCarreras{
    border-radius: 25px;
    border: 2px solid black;
    width: 60%;
 
    
}
/*PASADO*/
.detalleCarrerasCorridas{
  padding: 20px;
  height: 10px;
  display: flex;
  flex-direction: row;
  font-family: Arial;
  font-size: x-small;
  justify-content: space-between;
  position: relative;
  left: 10px;
  top:-5px
}
/*PASADO*/
.detllesCuidador{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 60mm;
}
/*PASADO*/
.contenedorCuidadorArbol{
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
}
/*PASADO*/
.arbolGContent{
    display: flex;
    position: relative;
    border-radius: 25px;
    border: 2px solid black;
    margin-top: 10px;
    width: 100mm;
    height: 205px;


}
/*PASADO*/
.arbolG{
    display: flex; 
    flex-direction: row; 
    height: 200px;
    justify-content: space-between;
    width: 95mm;
    margin-left: 10px; 
}
.divArbolG{
    height: 20px;
    padding: 2px;
    font-size: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divArbolGAbu{
    height: 10px;
    padding: 2px;
    font-size: 12;
}